@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------> Overwrite du layout de Foudry / alien
*/
.window-content:has(.arr-modal-content){padding:0;}
#chat-controls .chat-control-icon{cursor: pointer;}


/* -------------------------------------------> Custom Content
*/
.attribute-item, .skill-item, .param-item{
  @apply flex items-center pointer border-1 border-primary p-2 rounded-sm;
}
.attribute-item, .skill-item, .param-item{
  &:hover, &:has(input:checked){
    @apply text-light, bg-primary color-light;
  }
}

.token-item, .attribute-item, .skill-item, .param-item{
  input{
    @apply hidden;
  }
}

.token-item{
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  transition: 0.5s;
  background-origin: border-box;
  background-clip: content-box, border-box;

  &:has(input:checked), :hover{
    @apply color-light;

    .container-stars{
      @apply border-1 border-primary bg-base/20;
    }

    // TOujours vrai ? 
    .stars{
      @apply relative w-96 h-96 bg-transparent;

      &:after{
        content: "";
        top: -10rem;
        left: -100rem;
        background-image: radial-gradient(#fff 1px, transparent 1%);
        background-size: 50px 50px;
        // animation: animStarRotate 90s linear infinite;
        @apply animate-spin absolute w-full h-full;
        
      }
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 170%;
        height: 500%;
        animation: animStar 60s linear infinite;
        background-image: radial-gradient(#fff 1px, transparent 1%);
        background-size: 50px 50px;
        opacity: 0.5;
      }
    }
  }
  &:not(:hover):not(:has(input:checked)){
    @apply hidden;
  }
}

.container-stars {
  // backdrop-filter: blur(1rem);
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}