<div class="modal-content">

    <div class="socials-icons flex">
        <a href="http://google.fr"><i class="fa-brands fa-paypal"></i></a>
        <a href="http://google.fr"><i class="fa-brands fa-github"></i></a>
        <a href="http://google.fr"><i class="fa-solid fa-hand-holding-dollar"></i></a>
        <a href="http://google.fr"><i class="fa-solid fa-mug-hot"></i></a>
    </div>
    
    <h3 class="module-title">Sélectionnez un ou plusieurs tokens</h3>
    <section id="tokenList" class="token-grid">
        {{#each tokens}}
            <label class="token-item flex" id="token-item-{{id}}">
                <input type="checkbox" name="selected-token" value="{{id}}">
                <div class="token-item-content flex">
                    <img src="{{document.texture.src}}" alt="{{name}}">
                    <span class="flex-1 elipsis">{{name}}</span>
                    <span class="roll-result flex">
                        <span class="last-roll-result"></span>
                        <span class="panic-state"></span>
                    </span>
                </div>
                <div class="container-stars">
                    <div class="stars"></div>
                </div>
            </label>
        {{else}}
            <span class="red">No Tokens avaiable. Please make sure you have tokens on the Canvas</span>
        {{/each}}
    </section>

    <h3 class="module-title">Sélectionner un attributs</h3>
    <section id="attributesList" class="grid-4c">
        {{#each attributes}}
            <label class="attribute-item flex">
                <input type="radio" name="selectedAttribute" value="{{@key}}">
                <span>{{label}}</span>
            </label>
        {{else}}
            <span class="red">Unable to load Attributes from AlienRPG</span>
        {{/each}}
    </section>

    <h3 class="module-title">Sélectionner un Skill</h3>
    <section id="skillsList" class="grid-4c">
        {{#each skills}}
            <label  class="skill-item flex">
                <input type="radio" name="selectedSkill" value="{{@key}}">
                <span>{{label}}</span>
            </label>
        {{else}}
            <span class="red">Unable to load Skills from AlienRPG</span>
        {{/each}}
    </section>

    <h3 class="module-title">Paramètres complémentaires</h3>
    <section>
        <label class="param-item flex">
            <!-- TODO mettre la checkbox en  -->
            <input id="rollForMissing" type="checkbox" checked>
            Lancer automatique pour les absents
        </label>
    </section>
        
    <!-- TODO use dialog buttons instead ? -->
    <div class="btn-line flex">
        <button id="cleanup-pending-requests" class="action-button">
            Clean pending requests
        </button>
        <button id="rollDice" class="action-button">
            <strong>Send Rolls Request !</strong>
        </button>
    </div>
</divW>