<div class="arr-modal-content p-3 bg-midnight text-text">

    <div class="flex items-center justify-between">
        <div class="flex mb-1">
            <a href="http://google.fr"><i class="fa-brands fa-github mr-1"></i></a>
        </div>
        <a id="arr-update-modal-content">
            <i class="fa-solid fa-arrows-rotate mr-1"></i> {{localize 'DICEROLLREQUEST.CONTENT.refreshButtonLabel'}}
        </a>
    </div>
  
    <h3 class="border-b-1 border-light text-light">{{localize 'DICEROLLREQUEST.CONTENT.tokenTitle'}}</h3>
    <section id="arr-token-list" class="grid grid-cols-2 gap-3 py-2">
        {{#each tokens}}
            <label class="arr-token-item p-2 cursor-pointer flex justify-center items-center bg-[length:300%_300%] backdrop-blur-md transition-[0.5s] bg-origin-border bg-clip-content" id="arr-token-item-{{id}}">
                <input type="checkbox" class="arr-token-input hidden" value="{{id}}">
                <div class="flex flex-1 items-center">
                    <img src="{{document.texture.src}}" alt="{{name}}" class="w-10 h-10 mr-2 rounded-full">
                    <span class="flex-1 truncate font-semibold">{{name}}</span>
                    <span class="flex items-center font-semibold">
                        <span class="arr-last-roll-result"></span>
                        <span class="arr-panic-state"></span>
                    </span>
                </div>
                <div class="arr-stars-container border rounded-full border-primary bg-primary/20 fixed z-[-1] w-full h-full overflow-hidden duration-500">
                    <div class="relative bg-transparent w-[200rem] h-[200rem] 
                                after:content-[''] after:absolute after:top-[-10rem] after:left-[-100rem] after:w-full after:h-full after:bg-[#fff_1px,transparent_1%)] after:bg-[length:50px_50px] after:opacity-50 after:animate-animStarRotate
                                before:content-[''] before:absolute before:top-0 before:left-[-50%] before:w-[170%] before:h-[500%] before:bg-[#fff_1px,transparent_1%)] before:bg-[length:50px_50px] before:opacity-50 before:animate-animStar">
                    </div>
                </div>
            </label>
        {{else}}
            <span class="red">{{localize 'DICEROLLREQUEST.CONTENT.emptyTokenList'}}</span>
        {{/each}}
    </section>

    <h3 class="border-b-1 border-light text-light">{{localize 'DICEROLLREQUEST.CONTENT.attributeTitle'}}</h3>
    <section class="grid  grid-cols-4 gap-3 py-2">
        {{#each attributes}}
            <label class="flex items-center cursor-pointer border border-primary p-1 rounded-md hover:text-light hover:bg-primary has-[input:checked]:text-light has-[input:checked]:bg-primary">
                <input type="radio" class="arr-attribute-input hidden" value="{{@key}}">
                <span>{{ localizeByKey 'Ability' @key true }}</span>
            </label>
        {{else}}
            <span class="red">{{localize 'DICEROLLREQUEST.CONTENT.emptyAttributeList'}}</span>
        {{/each}}
    </section>

    <h3 class="border-b-1 border-light text-light">{{localize 'DICEROLLREQUEST.CONTENT.skillTitle'}} </h3>
    <section class="grid  grid-cols-4 gap-3 py-2">
        {{#each skills}}
            <label  class="flex items-center cursor-pointer border border-primary p-1 rounded-md hover:text-light hover:bg-primary has-[input:checked]:text-light has-[input:checked]:bg-primary">
                <input type="radio" class="arr-skill-input hidden" value="{{@key}}">
                <span>{{ localizeByKey 'Skill' @key false }}</span>
            </label>
        {{else}}
            <span class="red">{{localize 'DICEROLLREQUEST.CONTENT.emptySkillList'}}</span>
        {{/each}}
    </section>

    <h3 class="border-b-1 border-light text-light">{{localize 'DICEROLLREQUEST.CONTENT.paramTitle'}}</h3>
    <section class="items-center flex flex-wrap py-2">
        <label class="w-fit mx-1 flex items-center cursor-pointer border border-primary p-2 rounded-lg hover:text-light hover:bg-primary has-[input:checked]:text-light has-[input:checked]:bg-primary">
            <input id="arr-roll-for-missing" type="checkbox" class="hidden" checked>
            {{localize 'DICEROLLREQUEST.CONTENT.rollForMissingLabel'}}
        </label>
        <label class="w-fit mx-1 flex items-center cursor-pointer border border-primary p-2 rounded-lg hover:text-light hover:bg-primary has-[input:checked]:text-light has-[input:checked]:bg-primary">
            <input id="arr-force-for-present" type="checkbox" class="hidden">
            {{localize 'DICEROLLREQUEST.CONTENT.rollForPresentLabel'}}
        </label>
    </section>
        
    <div class="flex items-center justify-center pt-2">
        <button id="arr-cleanup-pending-requests" class="font-normal px-4 py-2 w-fit text-sm ease-in-out duration-200 mx-1 my-0 border text-red hover:text-midnight border-red bg-midnight hover:bg-red">
            {{localize 'DICEROLLREQUEST.CONTENT.cleaningButtonLabel'}}
        </button>
        <button id="arr-roll-button" class="font-normal w-fit px-4 py-2 text-sm ease-in-out duration-200 mx-1 my-0 border text-text hover:text-primary border-text bg-primary hover:bg-text">
            <strong>{{localize 'DICEROLLREQUEST.CONTENT.sendButtonLabel'}}</strong>
        </button>
    </div>
</divW>