<!-- <tr id="log-dice-result-{{token.id}}">
    <td>
        <span class="flex">
            <img src="{{token.document.texture.src}}" alt="{{token.name}}">
            {{token.name}}
        </span>
    </td>
    <td class="center">{{roll.success}}</td>
    <td class="center">{{roll.stress}}</td>
    <td class="center"></td>
</tr> -->
<span>{{roll.success}} <i class="fa-solid fa-dice"></i></span>
<span class="yellow">{{roll.stress}} <i class="fa-solid fa-dice"></i></span>
<span class="red"><i></i></span>