:root{
  --base: #041215;
  --primary: #124c4e;
  --text:#55b0b3;
  --light:#b6e7e9;
  --white: #ffff;
  --yellow: #e3b536;
  --red: #e76666;
}

.socials-icons{
  margin-bottom:0.5em;
}
.window-content:has(.modal-content){
  padding:0;
}

#chat-controls .chat-control-icon{
  cursor: pointer;
}

.modal-content{
  padding:1em;
  background-color:var(--base);
  color:var(--text);
}
.module-title{
  border-bottom: solid 1px var(--light);
  color:var(--light);
}
/* utiliser du scss plutot */
section:not(.modal-content){
  padding-bottom: 2em;
}

.attribute-item, .skill-item, .param-item{
  cursor: pointer;
  border-radius:5px;
  padding: 5px;
  border: solid 1px var(--primary);
}
.attribute-item:hover, .attribute-item:has(input:checked), .skill-item:has(input:checked), .skill-item:hover, .param-item:hover, .param-item:has(input:checked){
  color:var(--light);
  background-color: var(--primary);
  border-color: var(--light)
}

.token-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.token-item input, .attribute-item input, .skill-item input, .param-item input{
  display:none;
}
.param-item{
  width: fit-content;
}
.token-item:has(input:checked), .token-item:hover{
  color:var(--light);
}
.token-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.token-item span {
    font-weight: 600;
}
.token-item-content{
    flex:1;
}
.token-item{
  padding: 8px;
  cursor: pointer;
  justify-content: center;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  transition: 0.5s;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.token-item:hover .container-stars, .token-item:has(input:checked) .container-stars{
  background-color: rgb(18 76 78 / 0.2);
  border: solid 1px var(--primary)
}
.token-item:not(:hover):not(:has(input:checked)) .container-stars{
  display:none;
}
.container-stars {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}
.token-item:hover .stars, .token-item:has(input:checked) .stars{
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}
.stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}
.stars::after {
  background-image: radial-gradient(var(--white) 1px, transparent 1%);
  background-size: 50px 50px;
}
.stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}
.stars::before {
  background-image: radial-gradient(var(--white) 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

.action-button{
  font-weight: 400;
  width:fit-content;
  transition: all 0.2s ease-out;
  padding: 0.5em 2em;
  font-size:14px;
  margin: 0 0.3em;
}
#cleanup-pending-requests{
  color: var(--red);
  border: solid 1px var(--red);
  background-color: var(--base);
}
#cleanup-pending-requests:hover{
  background-color: var(--red);
  color: var(--base);
}
#rollDice{
  color: var(--text);
  background-color: var(--primary);
  border: solid 1px var(--text);
}
#rollDice:hover{
  background-color: var(--primary);
  color: var(--base);
}
.btn-line{
  justify-content: center;
}


/* UTILITIES  */
.flex{display: flex;align-items: center;}
.flex-1{flex:1;}
.grid-4c{display: grid; grid-template-columns: repeat(4, 1fr); gap: 5px;}
.yellow{color:var(--yellow)}
.red{color: var(--red)}
.modal-content i{margin-right:0.5em;}
.center{ text-align: center;}
.elipsis{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}



.dice-icon {
  vertical-align: middle;
  margin-left: 3px;
}
#dice-table-content img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
#dice-table-content th, #dice-table-content td {
  padding: 3px 8px;
}